<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
                    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
                    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:component-scan base-package="com.pelletier"/>
    <mvc:annotation-driven/>


    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/employees?useSSL=false"/>
        <property name="username" value="root"/>
        <property name="password" value="test"/>
    </bean>

    <bean id="namedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg ref="dataSource" /> <!-- class does not have setDataSource method... -->
    </bean>

    <bean id="pagingSupport" class="com.pelletier.valuelist.paging.MySQLPagingSupport"/>

    <bean id="velocityQueryParameterMapper" class="com.pelletier.valuelist.transformer.VelocityQueryParameterMapper" />

    <!-- parent map for paramType -->
    <bean id="globalParamTypeMap" class="org.springframework.beans.factory.config.MapFactoryBean">
        <property name="sourceMap">
            <map>
                <entry key="hire_date" value="java.util.Date" />
            </map>
        </property>
    </bean>

    <!-- String to Date Converter -->
    <bean id="defaultStringToDateConverter" class="com.pelletier.valuelist.util.DefaultStringToDateConverter">
        <property name="stringDateFormat" value="MM-DD-YYYY"/>
    </bean>

    <!-- parent list for converters -->
    <bean id="globalConverterList" class="org.springframework.beans.factory.config.ListFactoryBean">
        <property name="sourceList">
            <list>
                <ref bean="defaultStringToDateConverter"/>
            </list>
        </property>
    </bean>


    <bean id="parameterConversionService" class="com.pelletier.valuelist.util.ParameterConversionService">
        <property name="converters">
            <bean  class="org.springframework.beans.factory.config.ListFactoryBean">
                <property name="sourceList">
                    <list>
                        <ref bean="defaultStringToDateConverter"/>
                    </list>
                </property>
            </bean>
        </property>

        <property name="paramTypeMap">
            <bean parent="globalParamTypeMap" class="org.springframework.beans.factory.config.MapFactoryBean">
                <property name="targetMapClass">
                    <value>java.util.HashMap</value>
                </property>
                <property name="sourceMap">
                    <map merge="true">
                    </map>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="parameterConversionService2" class="com.pelletier.valuelist.util.ParameterConversionService">
        <property name="converters">
            <bean  class="org.springframework.beans.factory.config.ListFactoryBean">
                <property name="sourceList">
                    <list>
                        <ref bean="defaultStringToDateConverter"/>
                    </list>
                </property>
            </bean>
        </property>

        <property name="paramTypeMap">
            <bean parent="globalParamTypeMap" class="org.springframework.beans.factory.config.MapFactoryBean">
                <property name="targetMapClass">
                    <value>java.util.HashMap</value>
                </property>
                <property name="sourceMap">
                    <map merge="true">
                        <entry key="hire_date" value="java.lang.Integer"/>
                    </map>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="defaultJdbcDataAdapter" class="com.pelletier.valuelist.adapter.jdbc.DefaultJdbcDataAdapter">
    <property name="sql">
        <value>
            SELECT
            emp_no,
            first_name,
            last_name,
            birth_date,
            gender,
            hire_date
            FROM employees.employees
            WHERE true
            #if($emp_no) AND emp_no = :emp_no #end
            #if($first_name) AND first_name = :first_name #end
            #if($last_name) AND last_name = :last_name #end
            #if($birth_date) AND birth_date <![CDATA[ < ]]> :birth_date #end
            #if($gender) AND gender = :gender #end
            #if($hire_date) AND hire_date <![CDATA[ < ]]> :hire_date #end
            #if($sortByColumn &amp;&amp; $sortByOrder) order by $sortByColumn $sortByOrder#end
        </value>
    </property>
    <property name="queryParameterMapper" ref="velocityQueryParameterMapper" />
    <property name="dataSource" ref="dataSource" />
    <property name="pagingSupport" ref="pagingSupport"/>
    <property name="adapterConversionService" ref="parameterConversionService"/>
    </bean>



    <bean id="valueListService" class="com.pelletier.valuelist.DefaultValuesListService">
        <property name="adapters">
            <map>
                <entry key="query" value-ref="defaultJdbcDataAdapter" />
            </map>
        </property>
    </bean>

</beans>